// Place all the styles related to the Pxes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 10px 10px 10px 10px;
}

.logo {
  margin-left: 10px;
  color: white;
}

.right-nav {
  float: right !important;
}

a.menu {
  font-size: large;
}

.add {
  display: block;
  left: 0;
  position: fixed;
  top: 104px;
  z-index: 99999;
}
.add a:link,  .add a:visited {
  background: #F1C40f;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: white;
  display: block;
  font-weight: bold;
  height: 40px;
  line-height: 42px;
  margin-left: -27px;
  padding: 0 12px;
}

.pxes {
  .box { 
    height: 320px;
    margin-left: 40px !important;
    margin-right: 10px;
    margin-top: 25px;
    padding: 10px;
    background-color: #ECF0F1;
  }  
}

#gmap_canvas img {
  max-width: inherit;
}